# Directories
.vs/
.vscode/
oldcode/
OpenCVBins/
DebugBuild/
ReleaseBuild/
FishTracker/Debug/
FishTracker/Release/
FishTracker/FishTracker.dir
CMakeFiles/
x64/

# Files
result.json
*.user
imgui.ini
*.vc*
CMakeCache.txt
FishTracker.sln
*.cmake
